.Rproj.user
.Rhistory
.RData
.Ruserdata
20161114_EQUIMOLAR_POOL_WRANGLED_DATA.R
20161116_SyntheticPools_FINAL_CODE_V7_copyWithFigOutline.R
20170714_SyntheticPools_Add_Addl_samples_copy.R
20170726_V5_Analysis_of_plasma_samples_rebuttal_copy_with_marked_figures.R
20170822_CrossU01_Rebuttal_Reorganized_RunData.zip
20170822_GATHER_ALL_CROSSU01_COUNTS_AND_SAVE_RENAME_AND_DEIDENTIFY_ADD_NEW.R
20170824_CrossU01_Rebuttal_Reorganized_RunData
20170824_CrossU01_Rebuttal_Reorganized_RunData.zip
20170824_GATHER_ALL_CROSSU01_COUNTS_AND_SAVE_RENAME_AND_DEIDENTIFY_ADD_NEW.R
20170825_Collection_of_figure_plot_code.R
Comparison_ScalingFactors_DensityPlot.png
Comparison_ScalingFactors_DensityPlot_drop_truseq_compare.png
EQUIMOLAR_CV_INTRALAB.png
EQUIMOLAR_CV_INTRALAB_Violin.svg
EQUIMOLAR_GEOM_PERCENT_CV_INTERLAB.png
EQUIMOLAR_PERCENT_CV_INTERLAB_TruSeq_Only.svg
EQUIMOLAR_POOL_MISSING_MIR_COUNTS.txt
EQUIMOLAR_QCD_CV_INTERLAB_truSeq.svg
EQUIMOLAR_QCD_INTRALAB.png
EQUIMOLAR_QCD_INTRALAB_violin.svg
FIG2A_EQ_Heatmap_RLE_NO_LEGEND.pdf
FIG2A_EQ_Heatmap_RLE_WITH_LEGEND.pdf
FIG2A_ViolinPlot_equimolar_bias.svg
FIG2C_SIMPLE_10x_expected.pdf
FIG2C_SIMPLE_10x_expected.svg
FIG3_MANUSCRIPT_Ratiometric_ALL_Boxplots_ratio_Obs_VS_expected_NO_GuideLines.pdf
FIG3_MANUSCRIPT_Ratiometric_ALL_Boxplots_ratio_Obs_VS_expected_NO_GuideLines.svg
FIG4C_SPEARMAN_COR_HEATMAP_RatioA_AVERAGE_CPM.pdf
FIG_6B_TruSeq_4N_Correction_Heatmap_PLASMAPOOL.pdf
FIG_S4_EQPOOL_SPEARMAN_HEATMAP.pdf
FIG_S4_EQPOOL_SPEARMAN_HEATMAP_WITHLEGEND.pdf
HC_Rarefication_Beeswarm_Plot.pdf
MANUSCRIPT_Bottom_equimolar_miRs_expressed_by_protocol.tiff
MANUSCRIPT_Bottom_equimolar_miRs_expressed_by_protocol_cutMax.tiff
MANUSCRIPT_Bottom_equimolar_miRs_expressed_by_protocol_log_fold_diff_from_expected.png
MANUSCRIPT_Equimolar_Mean_VS_CV.jpeg
MANUSCRIPT_FIGURE1_FULL_HEATMAP_equimolarPools.png
MANUSCRIPT_FIGURE1_FULL_HEATMAP_equimolarPools_WITH_NEXTFLEX.png
MANUSCRIPT_FIGURE1_FULL_HEATMAP_equimolarPools_WITH_NEXTFLEX_VOOM_NORM.png
MANUSCRIPT_FIGURE1_equimolar_missing_miRs.jpeg
MANUSCRIPT_SUPPLEMENT_FIGURE1_EUCLIDEAN_DIST_HEATMAP_equimolarPools.tiff
MANUSCRIPT_SUPPLEMENT_FIGURE1_SPEARMAN_CORRELATION_HEATMAP_equimolarPools.tiff
MANUSCRIPT_SUPPLEMENT_FIGURE1_SPEARMAN_CORRELATION_HEATMAP_equimolarPools_with_NextFlex.png
MANUSCRIPT_Top_equimolar_miRs_expressed_by_protocol_fold_diff_from_expected.png
MANUSCRIPT_Top_equimolar_miRs_expressed_by_protocol_with_expected_CPM.png
PlasmaPool_CORRELATION_SPEARMAN_heatmap_logCPM_CPM100_cutoff.jpeg
SUP1B_Bottom_equimolar_miRs_expressed_by_protocol_log_fold_diff_from_expected.svg
SUPFIG1_MANUSCRIPT_Top_equimolar_miRs_expressed_by_protocol_log_fold_diff_from_expected.svg
SUPPLEMENTAL_FIGS2_downsampling_not_detected_1.svg
Spearman_correlation_equimolar_Pool_summaries.txt
output
